.game-container {
    border-bottom: red solid 1px;
    display: grid;
    grid-template-areas:
            'bowler frames frames frames frames frames frames frames frames frames frames total';
    grid-template-columns: 2fr repeat(11, 1fr);
    grid-template-rows: 1fr;
    margin: 0;
    /*    max-width: 900px;
        text-align: center; */
}

.bowler-slot {

    grid-column: 1 / span 2;
    margin: auto 0;
    padding: 0;
}

.total-slot {
    border: red solid 1px;
    grid-column: 12 / span 1;
}
