/* Universal Styles */

* {
    box-sizing: border-box;
}

html {
/*    display: block; */
/*    font-size: 12px; */
}

body {
    background-color: white;
    border: red solid 1px;
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
}

body,
html,
#root {
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    height: 100%;
}

/*
h1 {
    font-size: 2rem;
}
*/

.container {
    border: red solid 1px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}

a {
    background-color: transparent;
    text-decoration: none;
    -webkit-transition: color 0.1s linear;
}
a:-webkit-any-link {
    cursor: pointer;
}

.sort-container {
    background: lightblue;
    border: red solid 1px;
    /* height: 50px; */
    width: 100%;
}

.item-container {
    background: white;
    border: red solid 1px;
    /* height: 50px; */
    width: 100%;
}

.pagination-container {
    background: lightblue;
    border: red solid 1px;
    /* height: 50px; */
    text-align: center;
    width: 100%;
}

.horizontal-flow {
    display: flex;
}

@media screen and (min-width: 1200px) {
    .container {
        width: 80%;
        margin: 0 auto
    }
    .page-header {
        width: 80%
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%
    }
    .page-header {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .page-header .logo-wrapper {
        width: 70px
    }
    .page-header .search-wrapper{
        width: calc(90% - 60px)
    }
    .logo-name {
        display: none;
    }
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 480px) {
    .container {
        min-width: 0
    }
    #datepicker {
        top: 45px !important
    }
    .item-actions {
        display: none
    }
    .item-main {
        padding: 0 !important
    }
    .item-content-wrapper {
        padding: 10px 20px !important
    }
    .item-input-wrapper {
        width: calc(100% - 40px) !important
    }
    .main {
        padding-top: 50px !important
    }
    .sidebar {
        margin-top: -30px !important
    }
    .wrap-dd-select {
        font-size: 12px;
        max-width: 80px;
        margin-right: 0
    }
    .wrap-dd-select .selected {
        line-height: 20px;
        vertical-align: middle;
        text-overflow: ellipsis;
        width: 100%;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden
    }
}
