
.page-header {
    background-color: #FF742B;
    border: none;
    height: 60px;
    padding: 5px;
    position: fixed;
    z-index: 15;
}

.page-header .search-wrapper {
    float: left;
    width: calc(90% - 230px);
    margin-top: 3px
}

.page-header .search-wrapper input {
    border-radius: 0;
    border-color: transparent;
    border: none
}

.page-header a,
.page-header a:visited {
    color: white
}

.page-header .nav-link-settings{
    position: absolute;
    top: 15px;
    right: 20px
}

.page-header .nav-link-settings a:link,
.page-header .nav-link-settings a:visited {
    font-size: 16px;
    color: white
}

.page-header .nav-link-settings a:link i,
.page-header .nav-link-settings a:visited i {
    position: relative;
    top: 3px;
    font-size: 20px
}

.logo-wrapper {
    float: left;
    width: 230px
}

.logo-img {
    float: left;
    height: 48px;
    margin-right: 10px;
    width: 48px;
}

.logo-name {
    color: white;
    float: left;
    font-size: 18px;
    line-height: 1em;
    padding-top: 6px;
}

.nav-link-settings {}

.search-wrapper {
    position: relative;
    margin-top: 8px
}

.small-header .search-wrapper {
    margin-top: 3px
}

.search-container {
    background: #FF742B;
    border: red solid 1px;
    font-size: 12px;
    height: 50px;
    text-align: center;
    width: 100%;
}
.search-container input {
    border: none transparent;
    border-radius: 0;
    box-shadow: none;
    line-height: 25px;
    padding: 0 15px 0 50px;
    height: 42px;
}

.search-wrapper .icon-search {
    position: absolute;
    top: 8px;
    left: 14px;
    color: #FF742B;
    font-size: 24px
}

.search-wrapper .item-input-wrapper {
    display: inline-block;
    width: calc(100% - 100px);
    margin-right: 5px
}

.search-wrapper input {
    border-radius: 25px;
    box-shadow: none;
    line-height: 25px;
    padding: 0 15px 0 50px;
    height: 42px;
    border-color: #b6b6b6
}

.search-wrapper input:focus {
    outline: 0;
    box-shadow: none;
    border-color: #2A9ED9
}

.search-wrapper input::-webkit-input-placeholder {
    color: #ccc;
    font-size: 14px;
    font-weight: 300
}

.search-wrapper input::-moz-placeholder {
    color: #ccc;
    font-size: 14px;
    font-weight: 300
}

.search-wrapper input:-moz-placeholder {
    color: #ccc;
    font-size: 14px;
    font-weight: 300
}

.search-wrapper input:-ms-input-placeholder {
    color: #ccc;
    font-size: 14px;
    font-weight: 300
}

.search-wrapper input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    text-align: center;
    width: 20px;
    height: 20px;
    background: #ccc;
    border-radius: 50%;
    position: relative
}

.search-wrapper input::-webkit-search-cancel-button:hover {
    background-color: #9d9d9d;
    cursor:pointer
}

.search-wrapper input::-webkit-search-cancel-button:after {
    display:block;
    width:20px;
    height:20px;
    position:absolute;
    color:white;
    font-size:14px;
    line-height:18px;
    text-align:center;
    content:"×"
}

.search-wrapper .type-dropdown {
    position:absolute;
    top:5px;
    left:15px
}

.search-wrapper .powered-by {
    width:80px;
    font-size:12px;
    display:inline-block;
    position:relative
}

@media screen and (max-width: 480px) {
    .search-wrapper .powered-by {
        display:none
    }
}

.search-wrapper .powered-by img {
    width:60px;
    position:relative;
    top:-2px;
    left:4px;
    vertical-align:bottom
}

