.main .search-results .item-clearfix:after {
    content: "";
    display: table;
    clear: both
}

h1,h2,h3,h4,h5 {
    font-weight: 200;
    font-family: Verdana, Geneva, sans-serif !important
}

html,body {
    color: black;
    font-family: Verdana, Geneva, sans-serif !important
    height: 100%;
}


.slow-connection {
    padding: 24px 12px 0 12px;
    margin-top: 42px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.slow-connection p {
    margin-left: 16px;
    font-weight: bold;
    opacity: 0.7
}

.slow-connection+.search_results {
    margin-top: 0 !important
}

.sidebar {
    display: none
}


.main {
    font-size: 13px;
    position: relative;
    padding: 60px 0 0 0;
    background: #f6f6ef
}


.main .search-results {
    margin-top: 42px;
    padding-top: 10px
}

@media screen and (max-width: 480px) {
    .main .search-results {
        width: 100%
    }
}

.main .search-results em {
    background: yellow !important;
    color: black !important
}

.main .search-results .item {
    position: relative;
    padding: 3px 15px 10px;
    overflow: hidden
}

.main .search-results .item .item-main {
    width: 100%
}

.main .search-results .item .item-main .item-content-wrapper {
    padding: 0 !important
}

.main .search-results .item .item-main .item-title-and-infos {
    float: inherit
}

.main .search-results .item .item-main .item-title-and-infos h2 {
    font-size: 14px;
    margin-bottom: 4px
}

.main .search-results .item .item-main .item-title-and-infos h2 a {
    color: black;
    text-decoration: none
}

main .search-results .item .item-main .item-title-and-infos .item-infos {
    line-height: 12px;
    white-space: nowrap
}

.main .search-results .item .item-main .item-title-and-infos .item-infos>li {
    margin-right: 2px;
    border-left: 1px solid #cfcfcf;
    padding-left: 5px
}

.main .search-results .item .item-main .item-title-and-infos .item-infos>li:first-child {
    padding-left: 0;
    border: none
}

.main .search-results .item .item-main .item-title-and-infos .item-infos i,
.main .search-results .item .item-main .item-title-and-infos .item-infos span,
.main .search-results .item .item-main .item-title-and-infos .item-infos a {
    font-size: 10px;
    color: dimgray
}

.main .search-results .item .item-main .item-title-and-infos .item-infos i {
    display: none;
    color: #b5b5b5
}

@media screen and (max-width: 480px) {
    .main .search-results .item .item-main .item-title-and-infos .item-infos .hit-link {
        display: none
    }
}

.main .search-results .item .item-main .item-title-and-infos h2,
.main .search-results .item .item-main .item-title-and-infos .item-infos {
    float: inherit;
    display: block
}

.main .search-results .item .item-main .item-actions {
    display: none
}

.main .search-results .item .item-main .text-container {
    padding: 10px 0 0 10px;
    max-width: 800px;
    color: black
}
.main .search-results .item-fixed .item-main {
    background: #f6f6ef;
    top: 102px
}

@media screen and (min-width: 1200px) {
    .main .search-results .item-fixed .item-main {
        width: 80%;
        right: 10%;
        left: 10%
    }
}

@media screen and (max-width: 1200px) {
    .main .search-results .item-fixed .item-main {
        width: 100%;
        right: 0;
        left: 0
    }
}

.main .search-results .item-absolute-bottom .item-main {
    background: #f6f6ef;
    right: 0;
    left: 0
}

.main .search-results .list-item-comments {
    padding-left: 10px
}

.main .search-results .list-item-comments .item-comments span,
.main .search-results .list-item-comments .item-comments a {
    color: black
}

.main .search-results .no-results {
    width: auto
}

.edit-settings {
    padding-top: 60px
}

.edit-settings fieldset {
    border: none;
    border-top: solid 1px #ccc;
    background-color: transparent
}

.edit-settings h2 {
    font-size: 16px;
    margin-bottom: 0
}
#datepicker {
    background: rgba(246,246,239,0.8);
    top: 42px
}

.wrap-dd-select {
    line-height: 24px
}
.page h3 {
    color: black
}

footer {
    background: white;
    padding: 10px 0 30px 0
}

footer, footer a {
    font-size: 13px;
    color: black
}
