/* Social Card App Universal Styles */

.social-card-tb {
/*    border: red solid 1px; */
    display: grid;
    font-family: 'Work Sans', sans-serif;
    grid-template-areas:
            'top'
            'bottom';
    margin: auto;
    margin-top: 150px;
    max-width: 300px;
    padding: 0;
    text-align: left;
}

.social-card-lr {
/*    border: red solid 1px; */
    display: grid;
    font-family: 'Work Sans', sans-serif;
    grid-template-areas:
            'left right';
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    max-width: 600px;
    padding: 0;
    text-align: left;
}

.left {
/*    border: red solid 1px; */
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    grid-area: left;
    grid-template-columns: 1fr;
    grid-template-rows: 48px 1fr 50px;
    margin: 0;
}

.right {
/*    border: red solid 1px; */
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    grid-area: right;
    grid-template-columns: 1fr;
    grid-template-rows: 48px 1fr 50px;
    margin: 0;
}

.top {
/*    border: red solid 1px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    grid-area: top;
    grid-template-rows: 48px 1fr 50px;
    margin: 0;
}

.bottom {
/*    border: red solid 1px; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    grid-area: bottom;
    margin: 0;
}

.card {
    border: lightgrey solid 1px;
    display: grid;
    grid-template-areas:
            'item1'
            'item2'
            'item3';
    padding: 5px;
}

.item1 {
/*    border: red solid 1px; */
    grid-area: item1;
    margin: 0;
    padding: 5px;
    vertical-align: bottom;
}

.item2 {
/*    border: red solid 1px; */
    grid-area: item2;
    margin: 0;
    padding: 5px;
}

.item3 {
/*    border: red solid 1px; */
    grid-area: item3;
    margin: 0;
    padding: 5px;
}

/* Reusable Component - Image Container */

.avatar-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: flex-end;
    overflow: hidden;
}

.avatar-container img {
    height: 32px;
}

/* Component Specific Styles */

.avatar-name {
    box-sizing: border-box;
    color: orange;
    display: inline-flex;
    font-family: Cambria, sans-serif;
    font-weight: bold;
    margin-bottom: 6px;
    padding: 0 7px;
    text-align: center;
    vertical-align: middle;
}

.logo {
    text-align: left;
}

.title-lg {
     font-size: 2.375rem;
     font-weight: normal;
     color: white;
     padding: 1rem 1.5rem;
}

.title-sm {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding: 20px 5px 0 5px;
    vertical-align: text-bottom;
}

p {
    padding: 5px;
}
span {
    height: 32px;
}