.frames-container {
    border: red solid 1px;
    display: grid;
    grid-template-areas:
            'left middle right'
            'lower lower lower';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
    margin: auto;
/*    max-width: 900px;
    text-align: center; */
}

.left-slot {
/*    border: red solid 1px; */
    grid-area: left;
}
.middle-slot {
/*    border: red solid 1px; */
    grid-area: middle;
}
.right-slot {
/*    border: red solid 1px; */
    grid-area: right;
}
.score-block {
    border: red solid 1px;
    grid-area: lower;
}
